html {
	margin: 0;
	padding: 0;
	}
body {
    margin:0;
    background-image: url(images/footer_lodyas.png);
    background-repeat: repeat;
    padding: 0;
}
h1{
	font-size:2.5em;
	font-family:'Roboto', sans-serif;
	margin: 0;
    float:left;
    color: white;
    -webkit-text-shadow: 0 0 3px #41f468;
    -moz-text-shadow: 0 0 3px #41f468;
    text-shadow: 0 0 3px #41f468;
}
.top span{
    color:#41f468;
} 
h2{
    font-size:2.5em;
	font-family:SimHei,"Microsoft YaHei";
	margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size:1.5em;
	font-family:SimHei,"Microsoft YaHei";
    color: white;
    border-bottom: 2px solid grey;
    margin:0;
}
h4{
    font-size:2.5em;
	font-family:SimHei,"Microsoft YaHei";
	margin-bottom: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid grey;
    text-shadow: 0 0 10px green, 0 0 1px black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
	float: left;
	font-size:1.5em;
	font-family:SimHei,"Microsoft YaHei";
}
.wrapper{
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}
#nav{
	float:right;
}
#nav a:link{
	color:white;
	text-decoration:none;
}
#nav a:visited{
	color:white;
	text-decoration:none;
}
#nav a:hover{
	color:white;
	text-decoration:none;
	background-color:#000;
}
#nav a:active{
	color:white;
	text-decoration:none;
}
#nav a{
	height:45px;	
	width:80px; 
    line-height:50px;
	text-align:center;
	display: block;
}
.top{
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:45px;
    background-color:rgba(68,68,68,0.6);
    }
.mid{
    margin-top: 75px;
}
.infoBox{
    background-color:rgba(68,68,68,0.6);
    height: 200px;
    width: auto;
    margin-bottom: 50px;
   
    padding: 25px;
    border-radius: 27px; 
}
.descrip{
    color: white;
    font-family:SimHei,"Microsoft YaHei";
    margin-left: 405px;
}
.infoBox a{

}
.infoBox a:link{
    color: white;
	text-decoration:none;
}
.infoBox a:visited{
    color: white;
	text-decoration:none;
    -webkit-text-shadow: 0 0 3px #41f468;
    -moz-text-shadow: 0 0 3px #41f468;
    text-shadow: 0 0 3px #41f468;
}
.infoBox a:hover{
    color: white;
	text-decoration:none;
    -webkit-text-shadow: 0 0 3px #41f468;
    -moz-text-shadow: 0 0 3px #41f468;
    text-shadow: 0 0 3px #41f468;
}
.infoBox a:active{
    color: white;
	text-decoration:none;
}
.infoBox:hover{
    background-color:rgba(41, 148, 64,0.6);
}
.btn {
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  font-family: Arial,SimHei;
  color: #ffffff;
  font-size: 16px;
  background: #2ae052;      
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}
.btn:hover {
  background: #4acc64;
  text-decoration: none;
}
.infoBox img{
    width: 355px;
    height: 200px;
    float: left;
}
#pointer { 
    -webkit-animation-name: pointer-anime; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: pointer-anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-shadow: 4px 4px 2px grey;
    color:#41f468;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes pointer-anime {
    0%   {opacity: 0}
    49%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}

/* Standard syntax */
@keyframes pointer-anime {
    0%   {opacity: 0}
    49%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}

#contentWrapper{
    padding:25px;
    font-size: 20px;
    background: rgba(0,0,0,0.4);
    font-family:SimHei,"Microsoft YaHei";
    color:white;
    //box-shadow: 5px 5px 3px grey;
}
#contentWrapper p{
    text-indent: 40px;
}
.codes{
    font-family:consolas;
    font-size: 15px;
    color: white;
    background: rgba(220,220,220,0.4);
}
#footer{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color:white;
    background: rgba(68,68,68,0.6);
    
}
.title{
    border: 2px solid white;
}
